* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed';
}

/* Desktop */
@media (min-width: 768px) {
  main {
    background: linear-gradient(to right, #1f3757, #131537);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rps {
    display: flex;
    width: 700px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    display: flex;
    margin-top: 30px;
    /*  left: 333px;
  right: 333px;
  top: 48px; */
    justify-content: space-between;
    align-items: center;
  }

  .rps img {
    width: 155.48px;
    height: 92.68px;
    margin-left: 33.32px;
  }

  .score-div {
    width: 150px;
    height: 114px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    background: #f3f3f3;
    margin-right: 33.32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .score-div h1 {
    color: #565468;
    font-size: 56px;
  }
  .score-div p {
    color: #2a45c5;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
  }

  .pick {
    width: 478px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
    background-image: url('./triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .scissors {
    margin-left: 20px;
  }

  .paper {
    margin-right: 20px;
  }

  .pick .hand {
    cursor: pointer;
    width: 203px;
    height: 203px;
  }

  .pick .hand:hover {
    border-radius: 100px;
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
      box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
    }
    100% {
      box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
  }

  .winner {
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  .match {
    width: 900px;
    display: none;
    margin-top: 50px;
  }

  .match img {
    width: 275px;
    height: 275px;
  }

  .match > div {
    flex: 1;
  }

  .match h1 {
    color: #f3f3f3;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .match .u-img-pod {
    display: flex;
    justify-content: center;
    height: 275px;
    width: 275px;
  }

  .match .cpu-img-pod {
    display: flex;
    justify-content: center;
    height: 275px;
    width: 275px;
  }

  .referee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .referee h1 {
    font-size: 45px;
  }

  .new-game {
    background-color: #f3f3f3;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    color: #3b4262;
    transition: all 0.15s;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .new-game:hover {
    transform: translate3d(0px -2px 0px);
    color: #db2e4d;
  }

  .rules-btn {
    position: absolute;
    right: 100px;
    bottom: 70px;
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid hsl(217, 16%, 45%);
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
  }

  .bonus-btn {
    position: absolute;
    left: 100px;
    bottom: 70px;
    padding: 5px 25px;
    border-radius: 8px;
    border: 1px solid hsl(217, 16%, 45%);
    color: #fff;
    background: linear-gradient(to left, transparent 50%, #fff 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
  }

  .rules-btn:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
  }

  .bonus-btn:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
  }

  .modal-bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 50%);
  }

  .modal {
    display: none;
    position: absolute;
    z-index: 3;
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 40px 30px 30px;
    border-radius: 10px;
    top: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .modal .close {
    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  .modal .title {
    color: hsl(229, 25%, 31%);
    font-weight: 600;
    font-size: 35px;
  }

  .modal .content {
    margin-top: 30px;
    text-align: center;
  }
  #u-pick {
    border-radius: 137.5px;
  }

  #cpu-pick {
    border-radius: 137px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) and (min-device-width: 320px) {
  main {
    background: linear-gradient(to right, #1f3757, #131537);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rps {
    display: flex;
    width: 300px;
    height: 96px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .rps img {
    width: 73px;
    height: 48px;
    margin-left: 23px;
  }

  .score-div {
    width: 80px;
    height: 72px;
    border-radius: 4px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    background: #f3f3f3;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .score-div h1 {
    color: #565468;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .score-div p {
    color: #2a45c5;
    font-size: 10px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 1.5px;
    margin-top: 10px;
  }

  .pick {
    height: 300px;
    background-size: 220px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 105px;
    background-image: url('./triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
  }

  .scissors img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    margin-left: 20px;
  }

  .paper img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .rock img {
    width: 130px;
    height: 130px;
    flex-shrink: 0;
  }

  .rules-btn {
    border: 0.5px solid #fff;
    color: #fff;
    background: rgba(0, 0, 0, 10%);
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: 58px;
    border-radius: 8px;
    height: 30px;
    width: 120px;
    letter-spacing: 2.5px;
  }

  .bonus-btn {
    border: 0.5px solid #fff;
    height: 30px;
    width: 90px;
    color: #fff;
    background: rgba(0, 0, 0, 10%);
    cursor: pointer;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    bottom: 8px;
    border-radius: 8px;
    letter-spacing: 2.5px;
  }

  .modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-flow: column;
    align-items: center;
    max-width: inherit;
    position: absolute;
    z-index: 3;
    background: #ffffff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .modal .content {
    margin-top: 240px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-bg {
    display: none;
    position: absolute;
  }

  .modal.active {
    display: flex;
  }

  .close {
    bottom: 65px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 3px;
  }

  .modal .title {
    width: 85px;
    color: hsl(229, 25%, 31%);
    font-weight: 700;
    font-size: 32px;
    top: 95px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .match {
    width: 100%;
    height: 150px;
    display: none;
    margin-top: 50px;
  }

  .match img {
    width: 130px;
    height: 130px;
  }

  .match > div {
    flex: 1;
  }

  .decider .who-won {
    color: #f3f3f3;
    font-size: 56px;
    text-align: center;
    position: absolute;
    bottom: 212px;
    width: 240px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .match h1 {
    color: #f3f3f3;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 200px;
  }

  .match .u-img-pod {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  .match .cpu-img-pod {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  .referee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .referee h1 {
    font-size: 45px;
  }

  .new-game {
    background-color: #f3f3f3;
    position: absolute;
    padding: 15px 60px;
    border-radius: 8px;
    cursor: pointer;
    color: #3b4262;
    transition: all 0.15s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 48px;
    bottom: 148px;
    left: 0;
    right: 0;
  }

  .new-game:hover {
    background-color: bisque;
    transform: translate3d(0px -2px 0px);
  }

  .user-pick h1 {
    position: absolute;
    top: 337px;
    left: 40px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 213.333% */
    letter-spacing: 1.875px;
    height: 32px;
  }
  .cpu-pick h1 {
    position: absolute;
    top: 337px;
    right: 22px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 213.333% */
    letter-spacing: 1.875px;
    height: 32px;
  }

  #u-pick {
    position: absolute;
    left: 25px;
    top: 207px;
    width: 130px;
    height: 130px;
    border-radius: 65px;
  }

  #cpu-pick {
    position: absolute;
    right: 25px;
    top: 207px;
    width: 130px;
    height: 130px;
    border-radius: 65px;
  }

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
      box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
    }
    100% {
      box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
  }

  .winner {
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}
