@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
}

main {
  background: linear-gradient(to right, #1f3757, #131537);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rps {
  display: flex;
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.29);
  display: flex;
  margin-top: 30px;
  /*  left: 333px;
  right: 333px;
  top: 48px; */
  justify-content: space-between;
  align-items: center;
}

.rps img {
  width: 155.48px;
  height: 92.68px;
  margin-left: 33.32px;
}

.score-div {
  width: 150px;
  height: 114px;
  border-radius: 8px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  background: #f3f3f3;
  margin-right: 33.32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-div h1 {
  color: #565468;
  font-size: 56px;
}
.score-div p {
  color: #2a45c5;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
}

.pick {
  width: 478px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
  background-image: url('/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.scissors {
  margin-left: 20px;
}

.paper {
  margin-right: 20px;
}

.pick .hand {
  cursor: pointer;
  transition: all 0.25s;
}

.pick .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

.match {
  width: 900px;
  display: none;
  margin-top: 50px;
}

.match img {
  width: 275px;
  height: 275px;
}

.match > div {
  flex: 1;
}

.match h1 {
  color: #f3f3f3;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.match .u-img-pod {
  display: flex;
  justify-content: center;
}

.match .cpu-img-pod {
  display: flex;
  justify-content: center;
}

.referee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.referee h1 {
  font-size: 45px;
}

.new-game {
  background-color: #f3f3f3;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  color: #3b4262;
  transition: all 0.15s;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.new-game:hover {
  background-color: bisque;
  transform: translate3d(0px -2px 0px);
}
